{
  "presets": ["flow", "env"],
  "plugins": [
    "transform-flow-strip-types",
    ["transform-class-properties", { "spec": true }],
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}